@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}

:root {
  --grey-600: #3d6666;
  --grey-550: #547878;
  --grey-500: #5e7a7d;
  --grey-400: #7f9d9f;
  --grey-300: #9ebbbd;
  --grey-200: #c5e4e7;
  --grey-50: #f3f9fa;
  --green-900: #00474b;
  --green-800: #085c61;
  --green-750: #0d686d;
  --green-400: #26c2ae;
  --green-200: #9fe8df;
  --orange-400: #e17052;
  --black: black;
  --white: white;
  --white: #ffffff;
  --dark: #00494d;
  --dark-2: #0f686d;
  --accent: #26c2ae;
  --muted: #7f9c9f;
  --input: #f3f9fa;
  /* Font family */
  --font-space-mono: "Space Mono", monospace;

  /* TEXT PRESET 1 */
  --text-1: 700 48px/71px var(--font-space-mono);
  --text-1-ls: -1px;

  /* TEXT PRESET 2 */
  --text-2: 700 32px/47px var(--font-space-mono);
  --text-2-ls: -0.67px;

  /* TEXT PRESET 3 */
  --text-3: 700 24px/36px var(--font-space-mono);
  --text-3-ls: 0px;

  /* TEXT PRESET 4 */
  --text-4: 700 20px/30px var(--font-space-mono);
  --text-4-ls: 0px;

  /* TEXT PRESET 5 */
  --text-5: 700 16px/24px var(--font-space-mono);
  --text-5-ls: 0px;

  /* TEXT PRESET 6 */
  --text-6: 700 13px/19px var(--font-space-mono);
  --text-6-ls: 0px;

  font-size: 16px;
}

body {
  background: var(--grey-200);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 65px;
}

h1 {
  margin-top: -72px;
}
.app {
  background: var(--white);
  border-radius: 24px;
  padding: 32px 40px;
  width: 920px;
  height: 481px;
  /* width: 90%; */
  display: grid;
  grid-template-columns: auto auto;
  gap: 32px;
  justify-items: center;
  align-items: center;
}

/* LEFT */
.controls {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 379px;
  height: 400px;
  justify-content: space-around;
}

.field label {
  color: var(--grey-500);
  font: var(--text-5);
  letter-spacing: var(--text-5-ls);
  margin-bottom: 8px;
  display: block;
}

.field .nop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.field input {
  font: var(--text-3);
  letter-spacing: var(--text-3-ls);
}
.nop .alert {
  visibility: hidden;
}
.nop .alert.active {
  visibility: visible;
  color: var(--orange-400);
}
.input-wrap {
  background: var(--input);
  border-radius: 6px;
  padding: 6px 18px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.input-wrap input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  height: 48px;
  text-align: right;
  font: var(--text-3);
  letter-spacing: var(--text-3-ls);
  font-weight: 700;
  color: var(--green-900);
  /* padding: 6px 0px; */
}
.input-wrap.active {
  border: 2px solid var(--orange-400);
}
.icon {
  color: var(--muted);
}

/* TIP GRID */
.tip-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  gap: 12px;
}

.tip-grid button {
  background: var(--green-900);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 12px;
  font: var(--text-3);
  letter-spacing: var(--text-3-ls);
  cursor: pointer;
}

.tip-grid button.active {
  background: var(--green-400);
  color: var(--green-900);
}

.tip-grid .custom {
  background: var(--input);
  border: none;
  border-radius: 6px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: var(--green-900);
}

/* RIGHT */
.result {
  background: var(--green-900);
  border-radius: 16px;
  padding: 38px 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 413px;
  height: 417px;
  justify-content: space-between;
  /* align-items: center; */
}

.result-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-row p {
  color: white;
  font: var(--text-5);
  letter-spacing: var(--text-5-ls);
}

.result-row span {
  color: var(--muted);
  font-size: 14px;
}

.result-row h2 {
  color: var(--green-400);
  font: var(--text-1);
  letter-spacing: var(--text-1-ls);
}

.result-row.row2 {
  margin-top: -100px;
}
.reset {
  /* margin-top: auto; */
  background: var(--green-400);
  border: none;
  padding: 12px;
  border-radius: 6px;
  font: var(--text-4);
  letter-spacing: var(--text-4-ls);
  color: var(--green-900);
  cursor: pointer;
}

button {
  transition: all 0.1s ease-in;
}
button:hover {
  background-color: var(--green-200);
  color: var(--green-900);
}
button.clear {
  background-color: var(--green-750);
  color: var(--green-800);
}
button.choose {
  background-color: var(--green-400);
  color: var(--green-900);
}
/* Chrome, Edge, Safari */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.no-spinner {
  -moz-appearance: textfield;
}

@media (max-width: 1000px) {
  body {
    gap: 40px;
  }
  .app {
    width: 608px;
    height: 850px;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 25px 75px;
    gap: 32px;
  }

  .controls {
    width: 457px;
    height: 352px;
  }
  .result {
    width: 457px;
    height: 300px;
    padding: 20px 26px;
  }
  .result-row.row2 {
    margin-top: 0;
  }
}
/* RESPONSIVE */
@media (max-width: 525px) {
  .app {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 32px;
  }
  .controls {
    width: 90%;
    height: 432px;
  }
  .result {
    width: 90%;
    padding: 28px;
    height: 257px;
  }
  .result-row h2 {
    font: var(--text-2);
    letter-spacing: var(--text-2-ls);
  }
  .field label {
    font: var(--text-3);
    letter-spacing: var(--text-3-ls);
    margin: 2px 0;
  }
}
